body {
    background-color: #d4caca;
    margin: 0px;
}
main {
    padding: 20px;
}

.TitleDashboard {
    text-align: center;
    font-size: 200%;
    color: #646464;
    font-family: 'inter', sans-serif;
}
.NavigatieBar ul{
    list-style-type: none;
    background-color: #b5abab;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    
}
.NavigatieBar a {
   color: #767171; 
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align: center;
}
.NavigatieBar  a:hover{
    background-color: #423e3e;
}
.NavigatieBar li{
    display: inline-block;
    
}
.p1 {
    text-align: center;
    font-size: 150%;
    color: #646464;
    font-family: 'inter', sans-serif;
}
.slaaptrackerbutton {
    background-color: #6d4d92;
    border-radius: 10px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.slaaptrackerbutton a {
    color: black;
    text-decoration: none;
    
    
}

.TitelSlaaptracker {
    text-align: center;
    font-size: 200%;
    color: #302d2d;
    font-family: 'inter', sans-serif;
}

hr {
    border: 1px solid #b5abab;
}
.NavigatieBar {
    font-size: 60%;
}
.p1 {
    margin-top: -20px;
}
.Datumform {
    display:flex; 
    gap: 10px;
}
.Date {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b5abab;
    height: 10px;
    width: 80px;
    margin-top: 15px;
}
.StartTime {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b5abab;
    height: 10px;
    width: 80px;
    margin-top: 15px;
}
.VanTime {
    display: flex;
    gap: 10px;
}
.EndTime {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b5abab;
    height: 10px;
    width: 80px;
    margin-top: 15px;
}
.TotTime {
    display: flex;
    gap: 10px;
}
.Tijdform {
    display: flex;
    gap: 10px;
}

.Notitieform {
    display: flex;
    gap: 10px;
}
.Notitie {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b5abab;
    height: 50px;
    width: px;
    margin-top: 15px;
}
.Notitieform {
    display: flex;
    gap: 10px;
}
.submitbutton {
    background-color: #6d4d92;
    border-radius: 10px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.registratie-Card {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
}

.Resetbutton {
    background-color: #6d4d92;
    border-radius: 10px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    padding: 2.5px 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.Title_Instellingen {
  text-align: center;
    font-size: 200%;
    color: #646464;
    font-family: 'inter', sans-serif;  
}


